html{
  background-color: rgb(7,60,96); /* Hochschulblau */
}

body {
    background-color: rgb(237, 248, 255); /* weiß-bläulicher Hintergrund */
    font-family: Arial, Helvetica, sans-serif; /* Schriftart */
    margin: 0 auto; /* Zentrierung */
    padding: 0; /* Kein Innenabstand */
    /*display: grid; /* Grid-Layout */
    /*grid-template-columns: auto; /* Eine Spalte */
    /*grid-template-rows: auto minmax(40vh, auto) auto; /* Drei Reihen: Head, Inhalt, Footer*/
    align-content: space-between; /* Inhalte werden gleichmäßig verteilt */
    max-width: 1400px; /* Maximale Breite des Inhaltsbereichs */
    min-height: 100vh; /* Mindesthöhe des Viewports */
}

nav details{
    background-color: orange;
    padding: 0.5rem;
}

/* Beim Aufklappen: Links nebeneinander */
nav details[open] .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
}

/* Links selbst */
nav .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header, footer {
    background-color: gold;
    text-align: center; /* Zentrierter Text */
}

#HeadNav {
  position: sticky; /* Bleibt am oberen Rand beim Scrollen kleben */
  top: 0; /* Abstand vom oberen Rand */
  z-index: 100; /* Stellt sicher, dass es über den anderen Elementen liegt */
}

main {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #000000;
    hyphens: auto; /* Aktiviert die Silbentrennung https://www.mediaevent.de/css3-silbentrennung-hyphens/ */
    margin: 0;
    padding: 0.2rem 0;
}

p{
  line-height: 1.5;
  text-align: justify; /* Blocksatz */
  hyphens: auto; 
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

section {
  padding: 2rem 3rem; /* Innenabstand */
  background: yellow;
  border-radius: 1em; 
  max-height: fit-content;
  margin: 1rem 1rem; /* top and bottom margin 0.5rem, left and right auto */
}

aside {
  background: grey;
}

article {
  background: lightgreen;
}
