html{
  background-color: rgb(7,60,96); /* Hochschulblau */
}

body {
    background-color: rgb(237, 248, 255); /* weiß-bläulicher Hintergrund */
    font-family: Arial, Helvetica, sans-serif; /* Schriftart */
    margin: 0 auto; /* Zentrierung */
    padding: 0; /* Kein Innenabstand */
    display: grid; /* Grid-Layout */
    grid-template-columns: auto; /* Eine Spalte */
    grid-template-rows: auto minmax(40vh, auto) auto; /* Drei Reihen: Head, Inhalt, Footer*/
    align-content: space-between; /* Inhalte werden gleichmäßig verteilt */
    max-width: 1500px; /* Maximale Breite des Inhaltsbereichs */
    min-height: 100vh; /* Mindesthöhe des Viewports */
}

nav {
    background-color: orange;
}

header, footer {
    background-color: gold;
    text-align: center; /* Zentrierter Text */
}

#HeadNav {
  position: sticky; /* Bleibt am oberen Rand beim Scrollen kleben */
  top: 0; /* Abstand vom oberen Rand */
  z-index: 100; /* Stellt sicher, dass es über den anderen Elementen liegt */
}

main {
  background: lightblue; /* Padding Box Farbe */
  padding: 20px; /* Innenabstand */
  max-height: fit-content;
  margin: 10px; /* Außenabstand */
}

section {
  background: yellow;
}

aside {
  background: grey;
}

article {
  background: lightgreen;
}
